<html>
<head>
    <style type="text/css">
        body {
            background: black;
            color: white;
        }
        div.container {
            max-width: 500px;
            margin: 100px auto;
            border: 20px solid white;
            padding: 10px;
            text-align: center;
        }
        h4 {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
<div class="container">
    <h4>Cat Gif of the day</h4>
    <img src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
    <p><small>Courtesy: <a href="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">Buzzfeed</a></small></p>
</div>
</body>
</html>